.hero{
    min-height:100vh;
    width:90%;
    max-width:1400px;

    margin:0 auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:120px;

    padding-top:170px;
    padding-bottom:80px;
}

.hero-left{
    flex:1;
}

.hero-right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero h1{
    font-family:'Cormorant Garamond', serif;
    font-size:110px;
    line-height:.9;
    font-weight:600;
    margin-bottom:25px;
}
.hero h1 span{
    color:#d4af37;
}
.hero p{
    color:#c8c8c8;
    font-size:22px;
    line-height:1.8;
    max-width:520px;
}

button{
    margin-top:45px;
    padding:18px 45px;
    border:none;
    border-radius:50px;
    background:#d4af37;
    color:#000;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.35s;
    box-shadow:0 10px 35px rgba(212,175,55,.35);
}

button:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 45px rgba(212,175,55,.45);
}

.watch-image{
    width:100%;
    max-width:560px;
    border-radius:28px;

    transition:.5s;

    box-shadow:
        0 35px 90px rgba(0,0,0,.55),
        0 0 60px rgba(212,175,55,.18);
}

.watch-image:hover{
    transform:translateY(-12px) rotate(-2deg) scale(1.03);
}.navbar{
    position:fixed;
    top:38px;
    left:0;
    width:100%;
    padding:25px 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:1000;
    background:rgba(0,0,0,.15);
    backdrop-filter:blur(10px);
}

.menu-icon{
    color:#fff;
    font-size:34px;
    cursor:pointer;
}

.logo{
    color:#fff;
    font-size:42px;
    font-family:'Cormorant Garamond', serif;
    letter-spacing:8px;
}

.nav-icons{
    display:flex;
    gap:20px;
    color:#fff;
    font-size:28px;
    cursor:pointer;
}.navbar{
    position:fixed;
    top:35px;
    left:0;
    width:100%;
    padding:30px 5%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:999;
    background:transparent;
}

.menu-icon,
.nav-icons{
    display:flex;
    align-items:center;
    gap:22px;
    color:white;
    font-size:28px;
    cursor:pointer;
}

.logo{
    font-family:'Cormorant Garamond',serif;
    font-size:42px;
    letter-spacing:8px;
    color:white;
    font-weight:600;
}

.menu-icon svg,
.nav-icons svg{
    transition:.35s;
}

.menu-icon svg:hover,
.nav-icons svg:hover{
    color:#d4af37;
    transform:scale(1.15);
}